{% extends 'layout/base.html' %}
{% load static %}


{% block css %}
<style>
    /* General Card Styles */
    h2{
        margin-bottom: 2rem;
    }
    .news-card {
        border: none;
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        background-color: #ffffff;
    }

    .news-card img {
        border-bottom: 1px solid #ddd;
    }

    .news-card .card-body {
        padding: 15px;
    }

    .news-card .news-date {
        color: #888;
        font-size: 0.9rem;
        margin-bottom: 10px;
    }

    .news-card .card-title {
        font-size: 1.2rem;
        margin: 0;
    }

    /* Hover Effects */
    .news-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }

    .news-card:hover img {
        transform: scale(1.05);
    }

    .button {
        display: inline-block;
        padding: 15px 26px;
        background-color: #ac8f58;
        color: #ffffff;
        border: none;
        border-radius: 25px;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s ease, transform 0.3s ease;
        text-align: center;
    }

    .button:hover {
        background-color: #8c7446;
        color: #ffffff;
        text-decoration: none;
    }

    .button:active {
        background-color: #ac8f58;
        transform: translateY(1px);
    }


    /* Responsive Design */
    @media (max-width: 768px) {
        .news-card {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 576px) {
        .news-card {
            margin-bottom: 15px;
        }
    }

    h1 {
    font-size: 1.8rem;
    color: #6c757d;
}

h4 {
    font-size: 1.2rem;
    color: #495057;
}

.btn-outline-secondary {
    color: #b8860b;
    border-color: #b8860b;
}

.btn-outline-secondary:hover {
    background-color: #b8860b;
    color: white;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
}
</style>
{% endblock css %}


{% block body %}
<section class="latest-news my-5 p-4">
    <h2 class="section-title text-center">Latest News</h2>
    <div class="row">
        {% for item in news_items %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card news-card">
                <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.title }}">
                <div class="card-body">
                    <p class="news-date"><i class="fas fa-calendar-alt"></i> {{ item.date|date:"F d, Y \a\t H:i a" }}
                    </p>
                    <h5 class="card-title">{{ item.title }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- <div class="text-center mt-3">
        <a href="#" class="button view-all-btn">View All Posts</a>
    </div> -->
</section>

{% endblock body %}